<dir-tabbar></dir-tabbar>
<div  class="food">
    <ons-page modifier="shop-details">
        <ons-toolbar modifier="transparent">
            <div class="right"  ng-click="go('/comment/'+food[0].id+'/'+branch_id)">
              <ons-toolbar-button><ons-icon icon="ion-ios-chatboxes" style="color: white"></ons-icon></ons-toolbar-button>
            </div>
            <div class="left" ng-click="go('/menu/'+branch_id)" >
              <a><ons-toolbar-button><ons-icon icon="ion-arrow-left-c" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button></a>
            </div>
          </ons-toolbar>

        <div class="card" style="padding-top:0px !important;" >
            <img ng-src="{{ base_img + food[0].picname }}">
            <div class="card-name">{{ food[0].name }} </div>
            <div class="card-desc" ng-if = "food[0].special == 1">پیشنهاد ویژه دمپخت</div>
        </div>
        
        <div class="rating">
            <div class="rating-num">
                <ons-icon ng-repeat="rates in rate | limitTo : realrate" icon="fa-star" fixed-width="false"></ons-icon>
                <ons-icon ng-repeat="rates in rate | limitTo : 5 - realrate" icon="fa-star-o" fixed-width="false"></ons-icon>
            </div>
          </div>
 

        <ons-list style="border-top: none"><ons-list-item style="line-height: 1; padding: 0;">
          <ons-row class="action">

		  <ons-col class="action-col"  ng-click="go('/comment/'+food[0].id+'/'+branch_id)">
              <div class="action-icon"><ons-icon icon="ion-ios-star-half"></ons-icon></div>
              <div class="action-label">امتیاز دهی</div>
            </ons-col>
			
            <ons-col class="action-col">
              <div ng-if="user_id_wish == 0" class="action-icon" ng-click="show('login.html')" modifier="tappable">
                     <ons-icon  icon="ion-ios-heart-outline"></ons-icon>
              </div>
            
             <div ng-if="user_id_wish == 1" class="action-icon" ng-click="wishlist_add()" modifier="tappable">
                  <ons-icon ng-if="icon == 0" icon="ion-ios-heart-outline"></ons-icon>
                  <ons-icon ng-if="icon == 1" icon="ion-ios-heart"></ons-icon>
             </div>
             
              <div class="action-label">پسندیدن</div>
            </ons-col>

            <ons-col ng-click="share(food[0].id,branch_id)" class="action-col">
              <div class="action-icon"><ons-icon icon="ion-share"></ons-icon></div>
              <div class="action-label">اشتراک</div>
            </ons-col>

            <ons-col  ng-click="order(food[0].id,branch_id,food[0].picname,food[0].price,food[0].name,food[0].b_name)" class="action-col">
              <div class="action-icon"><ons-icon icon="ion-compose"></ons-icon></div>
              <div class="action-label">سفارش</div>
            </ons-col>

          </ons-row>
        </ons-list-item>
          </ons-list>

          <ons-list style="margin-top: 12px;">
              <ons-list-item>
                      <div class="food-name"> در باره  {{ food[0].name }}</div>
                      <div class="food-desc" ng-bind-html="description"></div>
              </ons-list-item>
          </ons-list>  
          
          <ons-list style="margin-top: 12px;">
              <ons-list-item >
                  <div class="prop-desc">
                      <ons-icon icon="fa-map-marker"></ons-icon> 
                      شعبه  {{ food[0].b_name }} 
                  </div>
              </ons-list-item>
          
          <ons-list-item >
              <div class="prop-desc">
                  <ons-icon icon="ion-social-usd"></ons-icon>
                  قیمت  {{food[0].price | currency : '' : 0  }} تومان       
              </div>
          </ons-list-item>
          <ons-list-item style="line-height:22px;padding-bottom:5px;padding-top:5px;">
              <div class="prop-desc">
                  <ons-icon icon="ion-pie-graph"></ons-icon>
                  {{ food[0].short_des }}
              </div>
          </ons-list-item>
          <ons-list-item modifier="chevron" ng-click="go('/pictures/'+food_id+'/'+branch_id)">
              <div class="prop-desc">
                  <ons-icon icon="ion-images"></ons-icon>
                  نمایش  تصاویر غذا
              </div>
          </ons-list-item>
          
          
          <ons-list-item modifier="chevron" ng-if=" food[0].video != null " ng-click="go('/video/'+food_id+'/'+branch_id)" >
            <div class="prop-desc">
              <ons-icon icon="ion-ios-videocam"></ons-icon>
                نمایش  ویدیو غذا
            </div>
          </ons-list-item>
          
          <ons-list-item modifier="chevron"  ng-click="go('/comment_detail/'+food_id+'/'+branch_id)" >
              <div class="prop-desc">
                  <ons-icon icon="fa-comments"></ons-icon>
                  نظرات کاربران 
              </div>
          </ons-list-item>
              
        </ons-list>
          
    </ons-page>
    
    <ons-template id="login.html">
        <ons-dialog var="dialog" cancelable>
            <ons-toolbar inline>
                <div class="center">ابتدا به حساب کاربری خود وارد شوید</div>
            </ons-toolbar>
            <quick-login>
                <label class="label_inp"><input ng-model="username" placeholder="ایمیل یا شماره همراه" id="username" class="text-input text-input--transparent"></label>
                <label class="label_inp"><input ng-model="password"  placeholder="کلمه عبور" type="password"  id="username" class="text-input text-input--transparent"></label>
                <label class="label_inp"><ons-button modifier="large" ng-click="submit();">ورود</ons-button></label>
                <p class="create_acc" ng-click="go('/register')"> عضویت در دمپخت</p>
            </quick-login>
        </ons-dialog>
    </ons-template>
</div>
<style>
    .food .page__content{
        padding-top: 0px !important;
    }
</style>

