<dir-tabbar></dir-tabbar>
<ons-page class="ofx">
    <ons-toolbar> 
        <a ng-click="go('/myprofile')" class="left"><ons-back-button></ons-back-button></a>
        <div class="center">شارژ حساب کاربری</div>
    </ons-toolbar>
    <div class="page__content ons-page-inner" style="directon:ltr">
        <ons-list-header class="rtl f18 p10"> افزایش اعتبار </ons-list-header> 
        <div class="charje_money">
            <label><input type="number" ng-model="user_price" name="cust" placeholder="مبلغ به تومان"> </label>
            <label><button ng-click="submit()" class="button--large--cta"> افزایش اعتبار </button></label>
        </div>
        <ons-list-header class="rtl f18 p10"> افزایش اعتبار </ons-list-header>
        <div class="charje_pakage">
            <ons-list-item modifier="chevron" ng-repeat="pack in charj" ng-click="buy( pack.id)" >
                <ons-icon icon="ion-card" size="20px"></ons-icon>
                مبلغ {{ pack.price | currency : '' : 0   }} تومان 
                <span class="list-item-note lucent">{{ pack.gift_price | currency : '' : 0   }} تومان هدیه </span>
            </ons-list-item>
        </div>
    </div>
</ons-page>
