<dir-tabbar></dir-tabbar>
<ons-page class="order_list support_one">
    <ons-toolbar>
        <div class="left" ng-click="hback()"><ons-back-button></ons-back-button></div>
        <div class="center">#2359875 سفارش</div>
    </ons-toolbar>
    <div id="not_branch"  class="ng-scope">
        <p><ons-icon icon="fa-chain-broken" style="color:rgba(227, 21, 21, 0.8)" size="30px"></ons-icon>
           خطا در پرداخت <br>
           <span style="position:relative;top:20px;" ng-click=""> برای بازگشت
              <span style="color:#54b927"> کلیک </span>
               کنید </span>
        </p>       
    </div>
</ons-page> 