<dir-tabbar></dir-tabbar>
<ons-page class="order_list support_one">
    <ons-toolbar>
        <div class="left" ng-click="go('/more')"><ons-back-button></ons-back-button></div>
        <div class="center">#{{result.final_food[0].order_id}} سفارش</div>
    </ons-toolbar>
    <ons-list-item>
        <ons-row>
            <ons-col class="text-center">
                <ons-icon icon="ion-ios-checkmark-empty" size="40px" style="color:#1b9b22;padding-left:10px"></ons-icon>
                سفارش شما با موفقیت ثبت شد
            </ons-col>
        </ons-row>      
    </ons-list-item>
    <!---=================================================================----->
    <ons-list-header class="rtl f18 p10"> لیست خوراک ها </ons-list-header>
     <ons-list-item modifier="tappable" ng-repeat="food in result.final_food">
         <ons-row>
             <ons-col class="f14" >{{food.name}}</ons-col>
             <ons-col width="55px" class="f14">{{food.quantity}} عدد</ons-col>
             <ons-col class="total f14 text-left" width="120px">{{ food.price * food.quantity | currency : '' : 0  }} <i>تومان</i></ons-col>
         </ons-row>
    </ons-list-item>
    <!---=================================================================-----> 
    <ons-list-header class="rtl f18 p10"> جزئیات پرداخت </ons-list-header>
    
    <ons-list-item class="f14 rtl">
        <ons-row><ons-col>مبلغ کل سفارش : </ons-col><ons-col class="f13 text-left"> {{ result.final_result.total_price | currency : '' : 0  }} تومان </ons-col></ons-row>
    </ons-list-item>   
    <ons-list-item class="f14 rtl">
        <ons-row><ons-col>مالیات بر ارزش افزوده : </ons-col><ons-col class="f13 text-left">{{ result.final_result.tax | currency : '' : 0  }} تومان</ons-col></ons-row>
    </ons-list-item>  
    <ons-list-item class="f14 rtl">
        <ons-row><ons-col> تخفیف : </ons-col><ons-col class="f13 text-left">{{ result.final_result.discount | currency : '' : 0  }} تومان</ons-col></ons-row>
    </ons-list-item>  
    <ons-list-item class="f14 rtl">
        <ons-row><ons-col >مبلغ قابل پرداخت : </ons-col><ons-col class="f13 text-left">{{ result.final_result.final_price | currency : '' : 0  }} تومان</ons-col></ons-row>
    </ons-list-item>
    <ons-list-item class="f14 rtl">
        <ons-row><ons-col>امتیاز استفاده شده :  </ons-col><ons-col class="f13 text-left">{{ result.final_result.point }}</ons-col></ons-row>
    </ons-list-item>  
    <ons-list-item class="f14 rtl">
        <ons-row><ons-col >نحوه پرداخت : </ons-col>
           <ons-col ng-if="result.final_result.payment_type == 0" class="f13 text-left">استفاده از امتیاز</ons-col>
           <ons-col ng-if="result.final_result.payment_type == 1" class="f13 text-left">پرداخت آنلاین</ons-col>
           <ons-col ng-if="result.final_result.payment_type == 2" class="f13 text-left">پرداخت در محل</ons-col>
           <ons-col ng-if="result.final_result.payment_type == 3" class="f13 text-left">پرداخت از اعتبار کاربری</ons-col>
        </ons-row>
    </ons-list-item>
   
    <!---=================================================================----->
    
</ons-page>